# Python / build artifacts
__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints/
.venv/
env/
venv/

# Logs
logs/
!logs/.gitkeep
!logs/cleaning/.gitkeep
!logs/connectomes/.gitkeep
!logs/graphs/.gitkeep
!logs/nodes/.gitkeep
!logs/labels/.gitkeep

# Data - keep structure, ignore contents

# Ignore everything inside data/
data/*

# But keep all directories
!data/**/
!data/.gitkeep

# Also keep .gitkeep files inside subfolders
!data/**/.gitkeep

# Keep CSVs at root of /data
!data/*.csv


# OS / Editor files
.DS_Store
Thumbs.db
~$*
