# Python / build artifacts
__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints/
.venv/
env/
venv/

# Logs
logs/
!logs/.gitkeep
!logs/cleaning/.gitkeep
!logs/connectomes/.gitkeep
!logs/graphs/.gitkeep
!logs/nodes/.gitkeep
!logs/labels/.gitkeep

# Data - keep structure, ignore contents
adj_matrices/*
!adj_matrices/.gitkeep
clean_mri/*
!clean_mri/.gitkeep
feature_matrices/*
!feature_matrices/.gitkeep
packed_mr/*
!packed_mr/.gitkeep
raw_mri/*
!raw_mri/.gitkeep
temp_mri/*
!temp_mri/.gitkeep
torch_graphs/*
!torch_graphs/.gitkeep

packed_data/*
!packed_data/.gitkeep


# OS / Editor files
.DS_Store
Thumbs.db
~$*
