# Python cache
__pycache__/
*.py[cod]
*.so
*.pyd

# Local folders (not tracked by Git, but usable on your PC)
logs/
data/
plots/
*.log

# Neuroimaging and derived files
*.nii
*.nii.gz
*.mgz
*.bval
*.bvec
*.csv

# Environments
.env/
.venv/
env/
venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS & editor stuff
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Archive/output files
*.zip
*.tar.gz
*.tar
*.gz
*.pickle
*.pt
*.h5
